this codes output put run and its meaning into our dct

In [1]:
dct = {}
dct = {"run": "to move swiftly by foot",
      "walk" : "to move slowly, leasurely by foot"}
dct

{'run': 'to move swiftly by foot', 'walk': 'to move slowly, leasurely by foot'}

Doesn't look like anything happened when i hit run

this output added both run and walk to our dct

In [2]:
dct = {"run" : {},
      "walk" : {}}
dct

{'run': {}, 'walk': {}}

added a verb meaning and a noun meaning for both run and walk to the dct

In [3]:
dct = {"run": {"verb":"to move swiftly by foot", 
               "noun":"refers to a period of time whileone was running"},
       "walk" :{"verb" : "to move slowly, leasurely by foot",
                "noun": "refers to a period of time while one was walking"}}
dct

{'run': {'verb': 'to move swiftly by foot',
  'noun': 'refers to a period of time whileone was running'},
 'walk': {'verb': 'to move slowly, leasurely by foot',
  'noun': 'refers to a period of time while one was walking'}}

made a chart for our dct of both run and walk and the noun nd verb meanings of each word

In [4]:
import pandas as pd
df = pd.DataFrame(dct)
df

,run,walk
verb,to move swiftly by foot,"to move slowly, leasurely by foot"
noun,refers to a period of time whileone was running,refers to a period of time while one was walking

started a dct for our class

In [5]:
dct = {"Tyler": {},
       "Emmanuel": {},
       "Amanda":{}, 
       "Logan":{},
       "Connor":{}, 
       "Dylan":{},
       "Gwen":{}, 
       "Jack":{}, 
       "Ben":{},
       "James":{}}
dct

{'Tyler': {},
 'Emmanuel': {},
 'Amanda': {},
 'Logan': {},
 'Connor': {},
 'Dylan': {},
 'Gwen': {},
 'Jack': {},
 'Ben': {},
 'James': {}}

added some infor to tyler in our new class dct

In [6]:
dct = {"Tyler": {"Age":21, "Interesting Fact":"I am left-handed / ambidextrious!"},
       "Emmanuel": {},
       "Amanda":{}, 
       "Logan":{},
       "Connor":{}, 
       "Dylan":{},
       "Gwen":{}, 
       "Jack":{}, 
       "Ben":{},
       "James":{}}

dct

{'Tyler': {'Age': 21, 'Interesting Fact': 'I am left-handed / ambidextrious!'},
 'Emmanuel': {},
 'Amanda': {},
 'Logan': {},
 'Connor': {},
 'Dylan': {},
 'Gwen': {},
 'Jack': {},
 'Ben': {},
 'James': {}}

filled in the rest of the peoples info to the dct

In [7]:
dct["Emmanuel"]["Age"] = 32
dct["Emmanuel"]["Interesting Fact"] = "I have 7 degrees!!! And I'm earning the M.S. Data Analytics"
dct["Dylan"]["Age"] = 21
dct["Dylan"]["Interesting Fact"] = "I am a triplet!"
dct["Jack"]["Age"] = 21
dct["Jack"]["Interesting Fact"] = "I have never broken a bone!" 
dct["Logan"]["Age"] = 22
dct["Logan"]["Interesting Fact"] = "I fight fires!"
dct["Gwen"]["Age"] = 23
dct["Gwen"]["Interesting Fact"] = "I bought my first cow when I was 10 years old!"
dct["James"]["Age"] = 26
dct["James"]["Interesting Fact"] = "I am from Bejou!"
dct["Ben"]["Age"] = 23
dct["Ben"]["Interesting Fact"] = "I like basketball!"
dct["Connor"]["Age"] = 21
dct["Connor"]["Interesting Fact"] = "I like to play tennis!"

dct

{'Tyler': {'Age': 21, 'Interesting Fact': 'I am left-handed / ambidextrious!'},
 'Emmanuel': {'Age': 32,
  'Interesting Fact': "I have 7 degrees!!! And I'm earning the M.S. Data Analytics"},
 'Amanda': {},
 'Logan': {'Age': 22, 'Interesting Fact': 'I fight fires!'},
 'Connor': {'Age': 21, 'Interesting Fact': 'I like to play tennis!'},
 'Dylan': {'Age': 21, 'Interesting Fact': 'I am a triplet!'},
 'Gwen': {'Age': 23,
  'Interesting Fact': 'I bought my first cow when I was 10 years old!'},
 'Jack': {'Age': 21, 'Interesting Fact': 'I have never broken a bone!'},
 'Ben': {'Age': 23, 'Interesting Fact': 'I like basketball!'},
 'James': {'Age': 26, 'Interesting Fact': 'I am from Bejou!'}}

not sure how to define "pd" or make it but i know that this step was supposed to make all of the class dct into a chart for each person, their age and their interesting fact.

In [8]:
df = pd.DataFrame(dct)
df

,Tyler,Emmanuel,Amanda,Logan,Connor,Dylan,Gwen,Jack,Ben,James
Age,21,32,NaN,22,21,21,23,21,23,26
Interesting Fact,I am left-handed / ambidextrious!,I have 7 degrees!!! And I'm earning the M.S. D...,NaN,I fight fires!,I like to play tennis!,I am a triplet!,I bought my first cow when I was 10 years old!,I have never broken a bone!,I like basketball!,I am from Bejou!

hw1 part 2

was supposed to make a dct for the 10 econ department staff members i chose that were not done already. not sure what happened

In [16]:
dct = {}
dct = {["Raymond March"]: ["Website":"https://www.ndsu.edu/centers/pcpe/about/directory/raymond_march/"],["Areas of Specialization"]: "public and private provision and governance of health care in the United States, particularly in pharmaceutical markets.","Bio":"Raymond is also a research fellow at the Independent Institute and the director of FDAReview.org, an educational research and communications project on the U.S. Food and Drug Administration (FDA). He regularly blogs on health policy at The Beacon. Raymond resides in Fargo with his wife, Amy, daughter Tinsley, son Grant, and two ill-behaved cats"}
dct = {"Tim Petry": {"Website": "https://www.ndsu.edu/agecon/faculty/petry/"
                     "Areas of Specialization": "Agricultural Economics", 
                     "Bio":"Tim Petry was raised on a livestock ranch in Northwestern North Dakota. He graduated from North Dakota State University with a major in Agricultural Economics in 1969 and served two years in the US Army. Petry returned to NDSU and completed a Masterâ€™s Degree in Agricultural Economics with an agricultural marketing emphasis in1973."}       
dct = {"Xudong Rao": {"Website":"https://www.ndsu.edu/agecon/faculty/rao/" , "Areas of Specialization": "Farm and Agribusiness Management, Risk Analysis, Efficiency and Productivity, Technology Adoption, Food and Agricultural Policy, International Agricultural Development", "Bio":"unknown"}}
dct = {"David Ripplinger": {"Website":"https://www.ndsu.edu/agecon/faculty/ripplinger/", "Areas of Specialization": "Transportation and Logistics, Agricultural Economics", "Bio":"unknown"}}
dct = {"Andrew Swenson": {"Website":"https://www.ndsu.edu/agecon/faculty/swenson/", "Areas of Specialization": "Economics,Geography,Agriculture Economics", "Bio":"unknown"}}
dct = {"Zachary Machunda": {"Website":"https://www.ndsu.edu/agecon/faculty/machunda/", "Areas of Specialization": "Economic Geography, Policy Analysis, Labor Economics, Monetary Economics and Development Economics, Economics and Education", "Bio":"Unknown"},}
dcy = {"Dragan Miljkovic": {"Website":"https://www.ndsu.edu/agecon/faculty/miljkovic/", "Areas of Specialization": "Economics, Agricultural Economics", "Bio":"un known"}}
dct = {"Frayne Olson": {"Website":"https://www.ndsu.edu/agecon/faculty/olson/", "Areas of Specialization": "Crop Economist/Marketing", "Bio":"Unknown"}}
dct = {"Robert Hearne": {"Website":"https://www.ndsu.edu/agecon/faculty/hearne/", "Areas of Specialization": "Agricultural and Applied Economics", "Bio":"Dr. Bob Hearne has been in the Department of Agribusiness and Applied Economics since 2002.   His research focuses on water resources management institutions, water markets, protected area management, and the economic valuation of environmental goods and services.  He has professional experience in Europe, Asia, Latin America, and Asia. "}}
dct

SyntaxError: invalid syntax (<ipython-input-16-ded1e552f94b>, line 3)

was supposed to make a table for the chosen econ deparment staff with their websites, specializations, and bios

In [ ]:
faculty_df = pd.DataFrame(faculty_dict)
# to save a dictionary as a dataframe, pass the dictionary to pd.DataFrame()
faculty_df.to_csv("NDSUAAEFacultyInfo.csv")
faculty_df

homework 1 part 1

In [1]:
dct = {}
dct = {"name": "logan schumacher", 
       "major/minor":
    "finance/econ.", 
       "reason for taking this class": "you told me this could be a good class to develop some useful skills for the future",
       " my plans for after ndsu" : "are to get a job in a bank to start building experience"}
dct

{'name': 'logan schumacher',
 'major/minor': 'finance/econ.',
 'reason for taking this class': 'you told me this could be a good class to develop some useful skills for the future',
 ' my plans for after ndsu': 'are to get a job in a bank to start building experience'}